.size(@value) {
  min-width: @value;
  max-width: @value;
  min-height: @value;
  max-height: @value;
}

.cuserpic {
  .size(32px);
  font-family: @ff;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: @c-gray-50-fade-35;
  color: @c-gray-50;
  font-weight: 900;
  font-size: 15px;
  transition: @duration-blink;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  svg {
    fill: @c-gray-50;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.cuserpic--mode_light {
    background-color: @c-gray-50-fade-20;
    color: @c-gray-35;

    svg {
      fill: @c-gray-35;
    }
  }

  &.cuserpic--mode_dark {
    color: @c-gray-75;

    svg {
      fill: @c-gray-75;
    }
  }

  &.cuserpic--bordered {
    border-color: @c-gray-50-fade-20;
  }

  &.cuserpic--hoverable {
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -9px;
      left: -9px;
      height: 48px;
      width: 48px;
      background-color: @c-white;
      box-shadow: @box-shadow;
      border-radius: 50%;
      transform: scale(0.5);
      transform-origin: center;
      opacity: 0;
      transition: @duration-blink ease-in-out;
    }

    &:hover {
      background-color: @c-gray-50-fade-35;
      color: @c-gray-75;

      &:before {
        opacity: 1;
        transform: scale(1);
      }

      svg {
        fill: @c-gray-75;
      }
    }
  }

  &.cuserpic--square {
    border-radius: 4px;

    &:before {
      border-radius: 5px;
    }
  }

  &.cuserpic--size_S {
    .size(24px);
    background-size: 24px;
    font-size: 11px;

    &.cuserpic--hoverable:before {
      top: -7px;
      left: -7px;
      height: 36px;
      width: 36px;
    }

    &.cuserpic--square {
      border-radius: 3px;

      &:before {
        border-radius: 4px;
      }
    }
  }

  &.cuserpic--size_M {
    .size(48px);
    font-size: 22px;

    &.cuserpic--hoverable:before {
      top: -9px;
      left: -9px;
      height: 64px;
      width: 64px;
    }

    &.cuserpic--square {
      border-radius: 6px;

      &:before {
        border-radius: 6px;
      }
    }
  }

  &.cuserpic--size_L {
    .size(128px);
    font-size: 60px;

    &.cuserpic--hoverable:before {
      top: -10px;
      left: -10px;
      height: 146px;
      width: 146px;
    }

    &.cuserpic--square {
      border-radius: 8px;

      &:before {
        border-radius: 12px;
      }
    }
  }

  &.cuserpic--size_XL {
    .size(160px);
    font-size: 75px;

    &.cuserpic--hoverable:before {
      top: -11px;
      left: -11px;
      height: 180px;
      width: 180px;
    }

    &.cuserpic--square {
      border-radius: 8px;

      &:before {
        border-radius: 10px;
      }
    }
  }
}
