.size(@value) {
  min-width: @value;
  max-width: @value;
  min-height: @value;
  max-height: @value;
}

.cuserpic {
  .size(32px);
  font-family: @ff;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: @c-gray-50-fade-20;
  color: @c-gray-35;
  font-weight: 900;
  font-size: 15px;
  transition: @duration-blink;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: @c-white;
  }

  svg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    path {
      fill: @c-gray-50-fade-35;
    }
  }

  &__img {
    .size(inherit);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: inherit;
    background-origin: border-box; 
    box-sizing: inherit; 

     &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      opacity: 0;
      transition: @duration-blink ease-in-out;
    }

    &:hover::after {
      background-color: @c-gray-50-fade-20;
      opacity: 1;
    }

    &:active::after {
      background-color: @c-gray-50-fade-35;
      opacity: 1;
    }
  }

  .cuserpic--bordered  &__img {
    border: 1px solid @c-gray-50-fade-20;
  }

  &.cuserpic--mode_light {
    background-color: @c-gray-50-fade-20;
    color: @c-gray-35;

    svg path {
      fill: @c-gray-35;
    }
  }

  &.cuserpic--mode_dark {
    color: @c-gray-35;
    background-color: @c-gray-50-fade-20;

    svg path {
      fill: @c-gray-35;
    }
  }

    &:active {
      background-color: @c-gray-75-fade-35;
      color: @c-gray-50;

      svg path {
        fill: @c-gray-50;
      }
  }
  

  &.cuserpic--mode_white {
    background-color: @c-white;
    color: @c-gray-35;

    svg path {
      fill: @c-gray-35;
    }
  }

  &.cuserpic--bordered {
    border-color: @c-gray-50-fade-20;
  }

  &.cuserpic--hoverable {
    cursor: pointer;
  }

  &:hover {
    background-color: @c-gray-75-fade-35;
    color: @c-gray-75;

    svg path {
      fill: @c-gray-75;
    }
  }

  &:active {
    color: @c-gray-50;

    svg path {
      fill: @c-gray-50;
    }
  }

  &.cuserpic--square {
    border-radius: 4px;

    &::before {
      border-radius: 4px;
    }

    .cuserpic__img::after {
      border-radius: 4px;
    }
  }

  &.cuserpic--size_s {
    .size(24px);
    font-size: 11px;

    &::before {
      top: -1px;
      left: -1px;
      height: 24px;
      width: 24px;
    }

    &.cuserpic--hoverable .cuserpic__img::after {
      top: -1px;
      left: -1px;
      height: 24px;
      width: 24px;
    }

    &.cuserpic--square {
      border-radius: 3px;

      &::before {
        border-radius: 3px;
      }

      .cuserpic__img::after {
        border-radius: 3px;
      }
    }
  }

  &.cuserpic--size_m {
    .size(48px);
    font-size: 22px;

    &::before {
      top: -1px;
      left: -1px;
      height: 48px;
      width: 48px;
    }

    &.cuserpic--hoverable .cuserpic__img::after {
      top: -1px;
      left: -1px;
      height: 48px;
      width: 48px;
    }

    &.cuserpic--square {
      border-radius: 6px;

      &::before {
        border-radius: 6px;
      }

      .cuserpic__img:after {
        border-radius: 6px;
      }
    }
  }

  &.cuserpic--size_l {
    .size(128px);
    font-size: 60px;

    &::before {
      top: -1px;
      left: -1px;
      height: 128px;
      width: 128px;
    }

    &.cuserpic--hoverable .cuserpic__img::after {
      top: -1px;
      left: -1px;
      height: 128px;
      width: 128px;
    }

    &.cuserpic--square {
      border-radius: 8px;

      &::before {
        border-radius: 8px;
      }

      .cuserpic__img::after {
        border-radius: 8px;
      }
    }
  }

  &.cuserpic--size_xl {
    .size(160px);
    font-size: 75px;

    &::before {
      top: -1px;
      left: -1px;
      height: 160px;
      width: 160px;
    }

    &.cuserpic--hoverable .cuserpic__img::after {
      top: -1px;
      left: -1px;
      height: 160px;
      width: 160px;
    }

    &.cuserpic--square {
      border-radius: 8px;

      &::before {
        border-radius: 8px;
      }

      .cuserpic__img::after {
        border-radius: 8px;
      }
    }
  }
}
