.hidden-scroll() {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.cdropdown__scrollable-container-content {
  height: 100vh;
  overflow-y: auto;
  padding: 0 50px;
  margin: 0 -50px;

  .hidden-scroll();
}

.cdropdown__moblie-container-content {
  .ccancel-button__mobile {
    width: 100%;
    justify-content: center;
  }
}

.cdropdown__moblie-container-overlay {
  background: @c-black-fade-35;
}

.dropdown-body {
  box-shadow: @sh-shadow;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-body--mobile {
  max-height: calc(100vh - 16px);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  &-content {
    .hidden-scroll();
    overflow-y: auto;
  }
}

.cdropdown__button {
  padding: 8px;
  button {
    width: 100%;
    justify-content: center;
  }
}

.cdropdown__dragicon {
  cursor: grab;
}

.cdropdown__dragging-row {
  z-index: 99999 !important;
  .clist-item__main-text {
    color: @c-gray-50;
  }
  path {
    fill: @c-gray-50;
  }
}

.cdropdown__droptotop {
  border-top: @c-primary-blue 2px solid!important;;
}

.cdropdown__droptobottom {
  border-bottom: @c-primary-blue 2px solid!important;
}

.cdropdown__droptotop--rounded {
  border-radius: 15px 15px 0 0;
}

.cdropdown__droptobottom--rounded {
  border-radius: 0 0 15px 15px;
}

.cdropdown__dropable-item {
  border-top: transparent 2px solid;
  border-bottom: transparent 2px solid;
}

.mtheme--darkpic-bg {
  background-color: @c-black;
}
