.cpagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 8px;
    padding: 16px;

    button {
        font-family: @ff-system;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        padding: 0;
    }

    div {
        cursor: default;
    }

    @media (max-width: @rsp-mobile-portrait-max) {
        padding: 5px;
    }

    &--light {
        background: transparent;

        .cpagination__item {
            color: @c-primary-blue;
        }

        .cpagination__ellipsis {
            color: @c-primary-blue;
        }
    }

    &--dark {
        background: @c-black;

        .cpagination__item {
            color: @c-white;
        }

        .cpagination__ellipsis {
            color: @c-white;
        }
    }

    &__item {
        margin: 0 4px;
        padding: 10px;
        border-radius: 4px;
        min-width: 32px;
        height: 32px;
        font-size: 14px;

        @media (max-width: @rsp-mobile-portrait-max) {
            margin-right: 0;
            font-size: 13px;
        }

        &:hover {
            background-color: rgba(206, 205, 222, 0.2);
        }
    }

    &__prev,
    &__next {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(206, 205, 222, 0.2);
        }

        @media (max-width: @rsp-mobile-portrait-max) {
            width: 30px;
            height: 30px;
        }

        svg {
            fill: @c-primary-blue;
        }
    }

    &__prev {
        margin-right: 28px;

        svg {
            @media (max-width: @rsp-mobile-portrait-max) {
                position: relative;
                right: 9px;
            }
        }

        &--is-disabled svg {
            fill: rgba(206, 205, 222, 0.5);
        }
    }

    &__next {
        margin-left: 28px;

        svg {
            @media (max-width: @rsp-mobile-portrait-max) {
                position: relative;
                left: -9px;
            }
        }

        &--is-disabled svg {
            fill: rgba(206, 205, 222, 0.5);
        }
    }

    &__ellipsis {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        padding: 0;
        border-radius: 4px;
        min-width: 32px;
        height: 32px;
        font-size: 14px;

        @media (max-width: @rsp-mobile-portrait-max) {
            min-width: 12px;
            margin-right: 0;
            font-size: 13px;
        }
    }
}

.cpagination__item.cpagination__item--is-active {
    color: @c-white;
    background-color: @c-primary-blue;
}
