.crow-disabled-state (@content) {
  &.crow--disabled {
    &, &:active, .crow--body--caption {
      @content();
    }

    .on-hover(@content);
  }
}

.crow {
  display: flex;
  align-items: center;

  padding: 0 32px;
  cursor: pointer;

  user-select: none;

  --text-color: @c-black;
  --bg-color: @c-white;

  color: var(--text-color) !important;
  background-color: var(--bg-color);

  svg.cicon * {
    fill: var(--text-color);
    transition: fill @duration-blink;
  }

  &--disabled {
    cursor: default;
  }

  &--hoverable {
    .on-hover({
      --bg-color: @c-dark-gray-fade-20;
    });
  }

  &:active {
    --bg-color: @c-dark-gray-fade-35;
    --text-color: @c-gray-50;
  }

  .crow-disabled-state({
    --bg-color: @c-white;
    --text-color: @c-gray-35;

    color: var(--text-color)!important;
  });

  &--ff_system {
    .crow--body--text, .crow--body--caption {
      font-family: @ff-system;
      font-size: 14px;
    }
  }

  &--ff {
    .crow--body--text, .crow--body--caption {
      font-family: @ff;
      font-size: 15px;
    }

    .crow--body {
      padding: 11px 0 15px 0;
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    // 13х13px for FF-system - DEFAULT
    padding: 13px 0;

    &--text, &--caption {
      font-style: normal;
      font-weight: normal;
      line-height: 22px;
      height: 22px;
    }

    &--caption {
      margin-top: 2px;
      --text-color: @c-gray-50;
      color: var(--text-color);
    }
  }

  &--icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: -16px;
    padding: 8px 16px 8px 0;

    &--top {
      margin-top: -24px !important;
    }

    &--right {
      margin: 0 -16px 0 8px;
      padding: 8px 0 8px 16px;
    }
  }

  &--small {
    padding: 0 16px;

    &.crow--ff {
      .crow--body--text, .crow--body--caption {
        font-size: 13px;
        line-height: 19px;
        height: 19px;
      }

      .crow--body--caption {
        margin-top: 5px;
      }

      .crow--body {
        padding: 9px 0 12px 0;
      }
    }

    .crow--body {
      padding: 9px 0;
    }

    .crow--icon {
      padding: 4px 8px 4px 0;
      margin-left: -8px;

      .crow--icon--top {
        margin-top: -24px;
      }

      &--right {
        margin-left: 4px;
        margin-right: -8px;
        padding: 4px 0 4px 8px;
      }
    }
  }
}