.crow-disabled-state (@content) {
  &.crow--disabled {
    &, &:active, .crow--body--caption {
      @content();
    }

    .on-hover(@content);
  }
}

.crow {
  display: flex;

  width: 100%;

  padding: 0 32px;
  cursor: pointer;

  user-select: none;

  --text-color: @c-black;

  color: var(--text-color) !important;
  background-color: var(--bg-color);

  svg.cicon * {
    fill: var(--text-color);
    transition: fill @duration-blink;
  }

  &--disabled {
    cursor: default;
  }

  --bg-color: @c-white;

  &:active {
    --bg-color: @c-dark-gray-fade-35;
    --text-color: @c-gray-50;
  }

  &--hoverable {
    .on-hover({
      --bg-color: @c-dark-gray-fade-20;
    });
  }

  .crow-disabled-state({
    --bg-color: @c-white;
    --text-color: @c-gray-35;

    color: var(--text-color)!important;
  });

  &--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    padding: 13px 0;

    &--text, &--caption {
      // 13х13px for FF-system
      font-family: @ff-system;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      height: 22px;

      /* identical to box height, or 157% */

      letter-spacing: 0.00933333px;
    }

    &--caption {
      margin-top: 2px;
      --text-color: @c-gray-50;
      color: var(--text-color);
    }
  }

  &--icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 -16px;
    padding: 8px 16px 0 0;

    &--right {
      margin: 0 -16px 0 0;
      padding: 8px 0 0 16px;
    }
  }
}