.clist * {
  box-sizing: border-box;
}

.clist {
  display: inline-block;
}

.clist--full {
  width: 100%;
}

.clist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: inherit;
  height: 48px;
  transition: 150ms background-color;
  &:hover {
    background: rgba(206, 205, 222, 0.35);
  }
  & a,
  a& {
    cursor: pointer;
    text-decoration: none;
  }
  & button,
  button& {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}

.clist-item__tag {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0px 32px;
  height: 100%;
  line-height: 1;
  font-size: 15px;
}

.clist--mod_dark .clist-item {
  background-color: @c-black;
  &:hover {
    background-color: @c-gray-75;
  }
  & path {
    fill: @c-white;
  }
}

.clist--mod_white .clist-item {
  background-color: @c-white;
  &:hover {
    background: rgba(206, 205, 222, 0.35);
  }
  & path {
    fill: @c-black;
  }
}

.clist--mod_dark .clist-item__tag {
  color: @c-white;
}

.clist--mod_white .clist-item__tag {
  color: @c-black;
}

.clist-item--has-prefix {
  padding-left: 16px;
  box-sizing: border-box;
  & .clist-item__tag {
    padding-left: 16px;
  }
}

.clist-item--has-suffix {
  padding-right: 16px;
  box-sizing: border-box;
  & .clist-item__tag {
    padding-right: 16px;
  }
}

.clist-divider {
  &--wrapper {
    background: @c-black;
  }
  display: block;
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: @c-gray-50-fade-20;
}

.clist-item__secondary-text {
  display: block;
  font-size: 15px;
  color: @c-gray-50;
  margin-top: 2px;
}
