.ctypography {
  font-family: @ff;

  &__header {
    padding: 7px 0 25px 0;
    font-weight: 900;
    font-size: @fs-header;
    line-height: @lh-header;
  }

  &__subheader {
    padding: 16px 0 25px 0;
    font-weight: 900;
    font-size: @fs-subheader;
    line-height: @lh-subheader;

    &--24 {
      padding: 8px 0 17px 0;
    }
  }

  &__lead {
    padding: 20px 0 24px 0;
    font-size: @fs-lead;
    line-height: @lh-lead;

    &--24 {
      padding: 12px 0 16px 0;
    }
  }

  &__body {
    padding: 21px 0 24px 0;
    font-size: @fs-body;
    line-height: @lh-body;

    &--24 {
      padding: 13px 0 16px 0;
    }

    &--16 {
      padding: 5px 0 8px 0;
    }
  }

  &__caption {
    padding: 7px 0 11px 0;
    font-size: @fs-caption;
    line-height: @lh-caption;
  }

  &__small {
    padding: 9px 0 12px 0;
    font-size: @fs-small;
    line-height: @lh-small;

    &--8 {
      padding: 1px 0 4px 0;
    }
  }

  &__multiple {
    &__text {
      padding: 5px 0 2px 0;
      font-size: @fs-body;
      line-height: @lh-body;
    }

    &__caption {
      padding: 0 0 11px 0;
      font-size: @fs-small;
      line-height: @lh-small;
      color: @c-gray-50;
    }

    &--reverse {
      .ctypography__multiple__caption {
        padding: 8px 0 1px 0;
      }

      .ctypography__multiple__text {
        padding: 0 0 9px 0;
      }
    }
  }

  @media (max-width: @rsp-mobile-max) {
    &__header {
      &--responsive {
        font-size: @fs-header-mobile;
        line-height: @lh-header-mobile;
        padding: 18px 0px 26px;
      }    
    }
    
    &__subheader {
      &--responsive {
        font-size: @fs-subheader-mobile;
        line-height: @lh-subheader-mobile;
        padding: 13px 0px 19px;
      }
    }
    
    &__lead {
      &--responsive {
        font-size: @fs-lead-mobile;
        line-height: @lh-lead-mobile;
        padding: 14px 0px 18px;
      }

      &--24.ctypography__lead--responsive {
        padding: 6px 0px 10px;
      }
    }
  }
}
