.clabel {
  width: fit-content;
  height: fit-content;
  padding: 1px 8px 4px;
  color: @c-white;
  border-radius: 4px;
  white-space: nowrap;
  font-size: @fs-small;
  line-height: @lh-small;
}

.clabel--default {
  background: @c-black-overlay;
}

.clabel--yellow {
  background: @c-yellow;
  color: @c-black;
}

.clabel--red {
  background: @c-red;
}

.clabel--green {
  background: @c-green;
}

.clabel--timer {
  line-height: @paragraph-small;
  padding: 0 4px 1px;
  box-sizing: border-box;
}