
.clabel {
  width: fit-content;
  height: 24px;
  padding: 1px 8px 4px;
  display: flex;
  align-items: center;
  color: @c-white;
  border-radius: 4px;
  white-space: nowrap;
}

.clabel--default {
  background: @c-black-overlay;
}

.clabel--yellow {
  background: @c-yellow;
  color: @c-black;
}

.clabel--red {
  background: @c-red;
}

.clabel--green {
  background: @c-green;
}

.clabel--timer{
  height: 18px;
  padding: 0 4px 1px;
  box-sizing: border-box;
}