/*
  TPUI Full Bundle
*/

// CSS Reset, normalize.css
// @import '~normalize.css';

@import  "./vars.less";
@import  "./mixins.less";

// Grid system
@import "./layout/lbrick";
@import "./layout/lmodules";
@import "./layout/lpage";
@import "./layout/lsquare";
// TODO: NEW
@import "./layout/lflex";
@import "./layout/lflexchild";
@import "./layout/lgap";
@import "./layout/lgrid";
@import "./layout/lfloat";

// Typography bundle
@import "./typo/typo";

// Components
@import "./components/cdivider";
@import "./components/cicon";

// /* Atoms */
@import "./atoms/aagelimit";
@import "./atoms/acheckbox.less";
@import "./atoms/acolor"; // TODO: может пригодиться
@import "./atoms/adescription"; // TODO: вроде нужно и используется, прочекать
@import "./atoms/adivider";
@import "./atoms/aeventseparator";
@import "./atoms/afakeinput";
@import "./atoms/aicon";
@import "./atoms/alogo";
@import "./atoms/auserpic"; // TODO: проверить, что именно используется
// TODO: NEW
@import "./atoms/abg";
@import "./atoms/afullscreenmsg"; // TODO: Отсебятина
@import "./atoms/auserpicuploader";
@import "./atoms/aprofilepic";
@import "./atoms/aradio";
@import "./atoms/aradiobutton";
@import "./atoms/aphotocard";
@import "./atoms/aeventpic";
@import "./atoms/atabbar";

//// /* Molecules */
@import "./molecules/mform";
@import "./molecules/mdrop";
@import "./molecules/mmodal"; // TODO: проработать
@import "./molecules/mtheme";


// Responsive utils
@import "./responsive.less";

// TODO: NEW, найти место получше
body {
  font-family: @ff;
  color: @c-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: proportional-nums;
  overflow-y: auto;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // TODO: убедиться, что это нормальное решение
}

:focus:not(.focus-visible) {
  outline: none;
}
