.profile--main {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.custombody {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  border-radius: 0px;
}
.ztop {
  z-index: 99990 !important;
  color: white;
  cursor: grab !important;
}

.ztop:active {
  cursor: grabbing!important;
}
