.cpageheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  min-height: 48px;
  box-sizing: border-box;
  position: relative;
  &__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__caption {
    display: inline-block;
  }
  &__backbtn {
    position: absolute;
    left: -8px;
  }
}

.cpageheader--withback {
  justify-content: flex-end;
}