.csearch {
    @button-width: 60px;
    width: @button-width;

    &__input {
        width: @button-width;
        position: relative;
        display: flex;
        transition: all 0.3s;

        &--wide {
            min-width: max-content;
            width: 100%;
        }

        &--fullscreen {
            position: fixed;
            left: 0;
            right: 0;
            background: #fff;
            width: calc(100% - 16px);
            align-items: stretch;
            justify-content: stretch;
            top: 0;
            padding: 8px;
            z-index: @z-index-fullscreen;
            > div {
                width: inherit;
            }
        }

        input {
            padding-right: 26px;
        }
    }

    &__btn-close {
        width: 32px;
        height: 32px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;

        // ховер только для непустых
        .csearch__input:hover &--fullfill,
        &--visible {
            opacity: 1;
            background: none !important;
            cursor: pointer;
            pointer-events: auto;
        }
    }
}
