.csearch {
    @button-width: 60px;
    width: @button-width;

    &__input {
        position: relative;
        display: flex;
        width: @button-width;
        transition: width 0.3s ease-out;

        &--wide {
            min-width: max-content;
            width: 100%;
            transition: width 0.3s ease-in;
        }

        &--fullscreen {
            position: fixed;
            left: 0;
            right: 0;
            background: #fff;
            width: calc(100% - 16px);
            align-items: stretch;
            justify-content: stretch;
            top: 0;
            padding: 8px;
            box-sizing: border-box;
            z-index: @z-index-fullscreen;
            > div {
                width: inherit;
            }
            > button {
                right: 13px;
            }
        }

        &--with-search-icon {
            input {
                padding-left: 48px;
            }
        }

        input {
            padding-right: 26px;
        }
    }

    .visible-btn {
        opacity: 1;
        background: none !important;
        cursor: pointer;
        pointer-events: auto;
    }

    &__btn-close {
        width: 32px;
        height: 32px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: calc(50% - 16px);

        &--visible {
            .visible-btn;
        }

        @media (hover: hover) {
            .csearch__input:hover &--fullfill {
                .visible-btn;
            }
        }
    }

    &__search-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        padding: 0 8px;
        top: calc(50% - 16px);
        left: 0;
        color: @c-gray-50;
    }

    .mtheme--darkpic & {
        &__search-icon {
            &--white {
                color: @c-white;
            }
        }
    }
}
