.clist-divider {

    &--wrapper {
        background: @c-black;
    }

    &--light {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--normal {
        box-sizing: border-box;
        border-top: 4px solid @c-black;
        height: 32px;
        margin: 0;
        background: transparent;

        @media (max-width: @rsp-mobile-max) {
            height: 24px;
        }
    }

    &--bold {
        box-sizing: border-box;
        border-top: 4px solid @c-black;
        height: 4px;
        margin: 0 0 -4px 0;
        background: transparent;
    }

    &.vertical {
        width: 1px;
        height: initial;
    }

    @media (max-width: @rsp-mobile-max) {
        &--full-width-mobile {
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    display: block;
    padding: 0;
    height: 1px;
    background-color: @c-gray-50-fade-20;
}

//для текстовых элементов
span.clist-divider {
    &.vertical {
        display: inline-block;
        min-height: 1em;
        vertical-align: text-bottom;
    }
}
