/**
 Examples:
 .t-caption
 .t-caption--black - font-weight: 900
 .t-caption--bold - font-weight: bold
 .t-caption--regular - - font-weight: normal
 */

.t-caption-fs-lh-desktop() {
    font-size: @fs-caption;
    line-height: @lh-caption;
}

.t-caption-fs-lh-mobile() {
    font-size: @fs-caption-mobile;
    line-height: @lh-caption-mobile;
}

.t-caption {
    padding: 7px 0 11px 0;

    @media (min-width: @rsp-desktop-min) {
        .t-caption-fs-lh-desktop;
    }

    @media (max-width: @rsp-mobile-max) {
        .t-caption-fs-lh-mobile;
    }

    .typo-modificators;
}
