/**
 Examples:
 .t-small
 .t-small-8
 .t-small--black - font-weight: 900
 .t-small--bold - font-weight: bold
 .t-small--regular - - font-weight: normal
 */

.t-small-fs-lh-desktop() {
    font-size: @fs-small;
    line-height: @lh-small;
}

.t-small-fs-lh-mobile() {
    font-size: @fs-small-mobile;
    line-height: @lh-small-mobile;
}

.t-small {
    padding: 9px 0 12px 0;

    @media (min-width: @rsp-desktop-min) {
        .t-small-fs-lh-desktop;
    }

    @media (max-width: @rsp-mobile-max) {
        .t-small-fs-lh-mobile;
    }

    &-8 {
        padding: 1px 0 4px 0;
    }

    .typo-modificators;
}
