.tsubheadermargin {
    @media (min-width: @rsp-desktop-min) {
      margin: -16px 0 -5px
    }

    @media (max-width: @rsp-mobile-max) {
      margin: -11px 0 -4px
    }
  }

.tcaptionmargin {
    @media (min-width: @rsp-desktop-min) {
        margin: -9px 0 -5px;
    }
  
    @media (max-width: @rsp-mobile-max) {
        margin: -8px 0 -5px;
    }
}

.tbodymargin {
    @media (min-width: @rsp-desktop-min) {
      margin: -11px 0 -6px;
    }

    @media (max-width: @rsp-mobile-max) {
      margin: -10px 0 -5px;
    }
}

.tsmallmargin {
    @media (min-width: @rsp-desktop-min) {
        margin: -8px 0 -4px;
    }
  
    @media (max-width: @rsp-mobile-max) {
        margin: -7px 0 -4px;
    }
} 

.tleadmargin {
    @media (min-width: @rsp-desktop-min) {
        margin: -11px 0 -4px;
    }
  
      @media (max-width: @rsp-mobile-max) {
        margin: -11px 0 -5px;
    }
}
