@import "tmono"; // TODO: replace
@import "tmultiline";

// new typo
@import "t-header.less";
@import "t-subheader.less";
@import "t-lead.less";
@import "t-body.less";
@import "t-caption.less";
@import "t-small.less";

/* Body */
.typo-fs-lh {
 .tpui-mx-fs-lh-body;
}

.typo-fonts {
  font-family: @ff;
  font-variant-numeric: proportional-nums;
}

.typo-links {
  &:extend(.ext-links-decoration all);

  .tpui-mx-color-base;
  a {
    .tpui-mx-color-links-full-base;
  }
}

.typo {
  &:extend(.typo-fs-lh all);
  &:extend(.typo-fonts all);
  &:extend(.typo-links all);
}

// NEW
.typo-links {
  &:extend(.ext-links-decoration all);

  &--inverse {
    a {
      .tpui-mx-color-links-full-base(@c-black, @c-primary-blue)
    }
  }
}

.t-color {
  &-white { color: @c-white; }
  &-white-fade-50 { color: @c-white-fade-50; }

  &-black { color: @c-black; }
  &-black-fade-80 { color: @c-black-fade-80; }
  &-black-fade-65 { color: @c-black-fade-65; }
  &-black-fade-50 { color: @c-black-fade-50; }
  &-black-fade-35 { color: @c-black-fade-35; }
  &-black-fade-20 { color: @c-black-fade-20; }
  &-black-opaque-fade-80 { color: @c-black-opaque-fade-80; }

  &-dark-gray { color: @c-dark-gray; }
  &-dark-gray-fade-35 { color: @c-dark-gray-fade-35; }
  &-dark-gray-fade-20 { color: @c-dark-gray-fade-20; }

  &-primary-blue { color: @c-primary-blue; }
  &-primary-blue-fade-30 { color: @c-primary-blue-fade-30; }
  &-primary-blue-80 { color: @c-primary-blue-80; }

  &-gray-75 { color: @c-gray-75; }
  &-gray-75-fade-35 { color: @c-gray-75-fade-35; }
  &-gray-75-fade-20 { color: @c-gray-75-fade-20; }

  &-gray-50 { color: @c-gray-50; }
  &-gray-50-fade-35 { color: @c-gray-50-fade-35; }
  &-gray-50-fade-20 { color: @c-gray-50-fade-20; }

  &-gray-35 { color: @c-gray-35; }
  &-gray-35-fade-35 { color: @c-gray-35-fade-35; }
  &-gray-35-fade-20 { color: @c-gray-35-fade-20; }

  &-gray-opaque-80 { color: @c-gray-opaque-80; }
  &-gray-opaque-65 { color: @c-gray-opaque-65; }
  &-gray-opaque-50 { color: @c-gray-opaque-50; }
  &-gray-opaque-35 { color: @c-gray-opaque-35; }
  &-gray-opaque-20 { color: @c-gray-opaque-20; }

  &-yellow { color: @c-yellow; }
  &-red { color: @c-red; }
  &-green { color: @c-green; }

  &-light-gray { color: @c-light-gray; }
  &-light-blue { color: @c-light-blue; }
  &-light-yellow { color: @c-light-yellow; }
  &-light-rose { color: @c-light-rose; }
}

// TODO: для теста темной темы вк
.typo .mtheme--darkpic a {
  color: @c-white;
}

.mtheme--darkpic {
  .typo-links {
    color: @c-white;
  }
}

.typo-links .mtheme--darkpic a {
  .tpui-mx-color-links-full-base(@c-white, @c-primary-blue)
}
