@import '../../assets/css/bundle.less';

.cfile-uploader {
    width: 100%;

    &__library-modal {
        .cform__window {
            width: 760px;
            max-width: ~'calc(100vw - 32px)';
        }

        .cfile-uploader {
            min-width: 0;
        }

        .uppy-Dashboard {
            min-width: 0;
        }
    }
}
