.cevent-card {
    border-radius: 4px;
    border: 1px solid @c-dark-gray-fade-20;
    background-color: @c-white;
    overflow: hidden;
    transition: height 0.5s ease-in-out;

    &:hover {
        border: 1px solid @c-gray-50-fade-20;
        .caction-buttons__hidden-buttons {
            opacity: 1;
        }
        .caction-buttons__button {
            &--gray {
                color: @c-primary-blue;
            }

            &--black {
                color: @c-primary-blue;
            }
        }
    }

    &__mobile-divider {
        display: none;

        @media (max-width: @mobile-content-max-width) {
            display: block;
        }
    }

    &--expand {
        border: 1px solid @c-gray-50-fade-20;
        .cevent-card-info-block {
            opacity: 0;
        }
        .cevent-card-session-block {
            opacity: 1;
        }
    }
}

.cevent-card-info-block {
    padding-bottom: 8px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;

    &__block {
        display: flex;
        padding: 4px 0 0px 16px;

        @media (max-width: @mobile-content-max-width) {
            flex-direction: column;
        }
    }

    &__session-button {
        margin: 8px 0 0 8px;

        @media (max-width: @mobile-content-max-width) {
            margin: 8px 0;
        }
    }

    @media (max-width: @mobile-content-max-width) {
        padding-bottom: 0;
    }
}

.cevent-card-session-block {
    opacity: 0;
    background-color: @c-white;
    transition: all 0.5s ease-in-out;
}

.cevent-card-filters {
    display: flex;
    padding: 8px;

    &__dropdown-container {
        display: flex;
        flex: 1;
    }

    @media (max-width: @rsp-mobile-portrait-max) {
        overflow: auto hidden;

        &::-webkit-scrollbar {
            height: 0;
        }
    }

    @media (max-width: @mobile-content-max-width) {
        padding: 8px 8px 8px 0;
    }
}
