@import "../../assets/css/bundle.less";

.ctooltip {
  position: relative;
  display: inline-block;

  .ctooltip__message {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: @c-white;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-sizing: border-box;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06), 0 16px 28px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 8px;
    z-index: -1;
    color: @c-black;

    @media (max-width: @mobile-content-max-width) {
      width: 220px;
    }
  }

  .ctooltip__message.ctooltip__message--is-active {
    opacity: 1;
    z-index: 1;
  }

  .ctooltip__title {
    display: inline-block;
    padding: 0 4px;
    cursor: pointer;
  }

  .ctooltip__title:hover + .ctooltip__message {
    opacity: 1;
    z-index: 1;
  }

  .ctooltip__message:hover {
    opacity: 1;
    z-index: 1;
  }
}