.ctooltip-wrapper {
  cursor: pointer;
}

.ctooltip {
  font-size: @fs-small;
  line-height: @lh-small;
  display: flex;
  font-family: @ff;
  background: @c-white;
  color: @c-black;
  padding: 12px 16px;
  z-index: 100;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.06), 0px 16px 28px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  max-width: 320px;
  width: max-content;
}
