.ctooltip {
  display: flex;
  font-family: @ff;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;

  align-items: center;

  background: @c-white;
  color: @c-black;
  padding: 16px;
  z-index: 100;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.06), 0px 16px 28px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  max-width: 320px;
  width: max-content;
}
