@import '../../assets/css/bundle.less';

.c-image-upload-uppy {
    width: 100%;
}

.c-image-upload-uppy__preview {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
