.cbanner {
  padding: 0;
  border-radius: 8px;
  align-items: start;
  color: inherit;
  background-color: @c-light-yellow;

  .cbanner__content {
    display: block;
    margin: 0 16px;
    font-size: @fs-caption;
    line-height: @lh-caption;

    button, .abtn {
      display: flex;
      margin-top: 11px;
      align-self: flex-start;
      --text-color: @c-black;
    }
  };

  .cbanner__icon {
    padding: 8px;
    margin: 0;
    button svg * {
      fill: @c-black;
    }
    & ~ .cbanner__content {
      margin-left: 0px;
    }
  };
}
